{% extends "base_site.html" %}

{% block title %} Form Advanced {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Form advanced</h3>
        </div>
      <div class="clearfix"></div>

      <div class="row">
        <!-- form color picker -->
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Color Picker</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control">
                      <option>Choose option</option>
                      <option>Option one</option>
                      <option>Option two</option>
                      <option>Option three</option>
                      <option>Option four</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Default Input</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input id="txtBanner" type="text" class="demo1 form-control" placeholder="Ingrese texto" value="" />
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancel</button>
  		   <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /form color picker -->
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
{{ super()}}
<script type="text/javascript">
$(document).ready(function() {
  var keyStorage = 'bannerText'
  var myVar = localStorage[keyStorage] || '';
  $('#txtBanner').val(myVar);
  $("form").submit(function() {
    var val = $("input[type=submit][clicked=true]").val();
    localStorage[keyStorage] = $('#txtBanner').val();
  });
  $("form input[type=submit]").click(function() {
    $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
    $(this).attr("clicked", "true");
  });
});
</script>
{% endblock javascripts %}
