<div class="row tile_count" style="margin-top:0px;">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Agentes conectados</span>
    <div class="count">{{general_data['agentes_conectados']}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Agentes Disponibles</span>
    <div class="count">{{general_data['agentes_disponibles']}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Agentes en Trabajo</span>
    <div class="count">{{general_data['agentes_working']}}</div>

  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Agentes en llamada</span>
    <div class="count">{{general_data['agentes_talking']}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-phone"></i> Llamadas en cola </span>
    <div class="count">{{general_data['llamadas_en_cola']}}</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-phone"></i> Total de llamadas</span>
    <div class="count">{{general_data['total_llamadas']}}</div>
  </div>
</div>
