{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<!-- <script>
window.onload = function(){
  init_chart_doughnut({{general_data['total_manejadas']}},{{general_data['total_abandonadas']}},{{general_data['llamadas_en_cola']}},{{general_data['agentes_talking']}});
};
</script> -->

<div class="container">
  <div class="row">
    <div class="alert alert-primary alert-dismissible" role="alert">
      <marquee><p id="txtBanner" style="font-family: Impact; font-size: 25pt"></p></marquee>
    </div>
  </div>
</div>
<div class="right_col" role="main">
  <!-- top tiles -->
  <div id="globalData">
  </div>
  <!-- /top tiles -->
  <hr/>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>Estado de llamadas</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;">
                <p align="left">Gráfica</p>
              </th>
              <th>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="" align="left">Categoría</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="" align="center">Cantidad</p>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
              </td>
              <td>
                <table class="tile_info">
                  <tr>
                    <td>
                      <p><i class="fa fa-square green"></i>Manejadas </p>
                    </td>
                    <td id="csq_total_manejadas">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square red"></i>Abandonadas </p>
                    </td>
                    <td id="csq_total_abandonadas">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square purple"></i>En Cola </p>
                    </td>
                    <td id="csq_llamadas_en_cola">0</td>
                  </tr>
                  <tr>
                    <td>
                      <p><i class="fa fa-square blue"></i>Activas </p>
                    </td>
                    <td id="csq_agentes_talking">0</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div id="csqDetail">
      </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <a href="/logout" class="btn btn-default pull-right" >Salir</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}

{% block javascripts %}
{{ super()}}
<!-- Chart.js -->
<script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
<!-- gauge.js -->
<script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
<!-- Skycons -->
<script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
<!-- Flot -->
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
<!-- Flot plugins -->
<script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
<!-- DateJS -->
<script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/lodash/lodash.js') }}"></script>

<script type="text/javascript">
var delay = 1000;
$(document).ready(function(){
  var keyStorage = 'bannerText'
  var myVar = localStorage[keyStorage] || '';
  $('#txtBanner').text(myVar);

  setInterval(function() {
    replaceCsqDetail();
    replaceGlobalData();
    replaceCsqChart();
  }, delay);


  //initCsqChart({{general_data['total_manejadas']}},{{general_data['total_abandonadas']}},{{general_data['llamadas_en_cola']}},{{general_data['agentes_talking']}});
});

function replaceGlobalData() {
  $.get('/home/global_data', function(data) {
    /*optional stuff to do after success */
    $("#globalData").html(data);
  });
}

function replaceCsqDetail() {
  $.get('/home/csq_detail', function(data) {
    /*optional stuff to do after success */
    $("#csqDetail").html(data);
  });
}

function replaceCsqTextChart(data) {
  $('#csq_total_manejadas').text(data.total_manejadas);
  $('#csq_total_abandonadas').text(data.total_abandonadas);
  $('#csq_llamadas_en_cola').text(data.llamadas_en_cola);
  $('#csq_agentes_talking').text(data.agentes_talking);
}

function replaceCsqChart() {
  $.get('/home/csq_chart', function(data) {
    replaceCsqTextChart(data);
    if (_.isUndefined(window.csq_chart) || _.isUndefined(window.csq_chart_settings)) {
      initCsqChart(data.total_manejadas,data.total_abandonadas,data.llamadas_en_cola,data.agentes_talking);
    } else {
      updateCsqChart(data.total_manejadas,data.total_abandonadas,data.llamadas_en_cola,data.agentes_talking);
    }
  });
}

function updateCsqChart(manejadas,abandonadas,en_cola,activas) {
  window.csq_chart_settings.data.datasets.forEach(function(dataset) {
				dataset.data = [manejadas, abandonadas, en_cola, activas]
			});
			window.csq_chart.update();
}

function initCsqChart(manejadas,abandonadas,en_cola,activas) {

		if( typeof (Chart) === 'undefined'){ return; }

		console.log('init_chart_doughnut');

		if ($('.canvasDoughnut').length){

		window.csq_chart_settings = {
				type: 'doughnut',
				tooltipFillColor: "rgba(51, 51, 51, 0.55)",
				data: {
					labels: [
						"Manejadas",
						"Abandonadas",
						"En Cola",
						"Activas"
					],
					datasets: [{
						data: [manejadas, abandonadas, en_cola, activas],
						backgroundColor: [
							"#26B99A",
							"#E74C3C",
							"#9B59B6",
							"#3498DB"
						],
						hoverBackgroundColor: [
							"#26B99A",
							"#E74C3C",
							"#9B59B6",
							"#3498DB"
						]
					}]
				},
				options: {
					legend: false,
					responsive: false
				}
			}

			$('.canvasDoughnut').each(function(){
				var chart_element = $(this);
				window.csq_chart = new Chart( chart_element, window.csq_chart_settings);
			});
		}
}


</script>

{% endblock javascripts %}
